@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, #0a0a2e, #141452);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

